In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
my_file = r'C:\Users\dcdie\Desktop\bao cao op.xlsx'

In [3]:
df =pd.read_excel(my_file)

In [4]:
df.shape

(232, 11)

In [5]:
dtkd = df.loc[df['lan_kd'] == 'L3'].groupby(['vu_sx','vsx','giong']) \
    .agg({'dien_tich':['count','sum']}).reset_index(names=['vu_sx','vsx','giong']).rename(columns={'count':'so_ruong_bd','sum':'dtkd_bandau'})
dtkd

   vu_sx            vsx       giong   dien_tich
                                    so_ruong_bd dtkd_bandau
0   ĐX23       Hoà Bình  Lộc Trời 4           6        13.5
1   ĐX23       Hoà Bình        OM18          45       110.2
2   ĐX23       Hoà Bình      OM5451           2         5.5
3   ĐX23       Hoà Bình      OM7347           2         5.0
4   ĐX23      Tháp Mười      IR4625          15        25.4
5   ĐX23      Tháp Mười        OM18          33        62.1
6   ĐX23      Thạnh Lợi      IR4625           2         8.0
7   ĐX23      Thạnh Lợi        OM18          62       158.4
8   ĐX23  Tân Công Sính      IR4625          10        29.0
9   ĐX23  Tân Công Sính      OM5451           2         6.5
10  ĐX23  Tân Công Sính        ĐS 1          15        32.5
11  ĐX23      Tân Phước      OM5451          26        51.3

In [18]:
dat_ld = df.loc[(df['lan_kd'] == 'L3') & (df['ket_luan']== 'Dat')].groupby(['vu_sx','vsx','giong']) \
    .agg({'dien_tich':['count','sum']}).reset_index(names=['vu_sx','vsx','giong']).rename(columns={'count':'so_ruong_1','sum':'dt_dat_ld'})
dat_ld

   vu_sx            vsx       giong  dien_tich
                                    so_ruong_1 dt_dat_ld
0   ĐX23       Hoà Bình  Lộc Trời 4          3       6.5
1   ĐX23       Hoà Bình        OM18         44     107.2
2   ĐX23       Hoà Bình      OM5451          2       5.5
3   ĐX23       Hoà Bình      OM7347          2       5.0
4   ĐX23      Tháp Mười      IR4625         15      25.4
5   ĐX23      Tháp Mười        OM18         29      56.6
6   ĐX23      Thạnh Lợi      IR4625          2       8.0
7   ĐX23      Thạnh Lợi        OM18         53     142.2
8   ĐX23  Tân Công Sính      IR4625         10      29.0
9   ĐX23  Tân Công Sính      OM5451          2       6.5
10  ĐX23  Tân Công Sính        ĐS 1         15      32.5
11  ĐX23      Tân Phước      OM5451         26      51.3

In [7]:
tai_kiem= df.loc[df['lan_kd'] != 'L3'].groupby(['vu_sx','vsx','giong']) \
    .agg({'dien_tich':['count','sum']}).reset_index(names=['vu_sx','vsx','giong']).rename(columns={'count':'ruong_tk','sum':'dt_tai_kiem'})

In [8]:
dat_cuoi= df.loc[df['ket_luan']=='Dat'].groupby(['vu_sx','vsx','giong']) \
    .agg({'dien_tich':['count','sum']}).reset_index(names=['vu_sx','vsx','giong']).rename(columns={'count':'so_dat_cuoi','sum':'dt_dat_cuoi'})

In [9]:
kq = pd.merge(dtkd, dat_ld, how= 'left', on=['vu_sx','vsx','giong'])
kq

C:\Users\dcdie\AppData\Local\Temp\ipykernel_7960\265187574.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  kq = pd.merge(dtkd, dat_ld, how= 'left', on=['vu_sx','vsx','giong'])

   vu_sx            vsx       giong   dien_tich                         \
                                    so_ruong_bd dtkd_bandau so_ruong_1
0   ĐX23       Hoà Bình  Lộc Trời 4           6        13.5          3
1   ĐX23       Hoà Bình        OM18          45       110.2         44
2   ĐX23       Hoà Bình      OM5451           2         5.5          2
3   ĐX23       Hoà Bình      OM7347           2         5.0          2
4   ĐX23      Tháp Mười      IR4625          15        25.4         15
5   ĐX23      Tháp Mười        OM18          33        62.1         29
6   ĐX23      Thạnh Lợi      IR4625           2         8.0          2
7   ĐX23      Thạnh Lợi        OM18          62       158.4         53
8   ĐX23  Tân Công Sính      IR4625          10        29.0         10
9   ĐX23  Tân Công Sính      OM5451           2         6.5          2
10  ĐX23  Tân Công Sính        ĐS 1          15        32.5         15
11  ĐX23      Tân Phước      OM5451          26        51.3         26


   dt_dat_ld
0        6.5
1      107.2
2        5.5
3        5.0
4       25.4
5       56.6
6        8.0
7      142.2
8       29.0
9        6.5
10      32.5
11      51.3

In [10]:
kq = kq.merge(tai_kiem, how= 'left', on=['vu_sx','vsx','giong'])

C:\Users\dcdie\AppData\Local\Temp\ipykernel_7960\1558364899.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  kq = kq.merge(tai_kiem, how= 'left', on=['vu_sx','vsx','giong'])

In [11]:
kq = kq.merge(dat_cuoi, how= 'left', on=['vu_sx','vsx','giong'])

C:\Users\dcdie\AppData\Local\Temp\ipykernel_7960\3382682668.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  kq = kq.merge(dat_cuoi, how= 'left', on=['vu_sx','vsx','giong'])

In [12]:
import xlwings as xw

In [13]:
wb = xw.Book(my_file)

In [14]:
sht = wb.sheets[1]

In [15]:
sht.clear()

In [16]:
lr = sht.range('E' + str(wb.sheets[1].cells.last_cell.row)).end('up').row +1

In [17]:
sht[f'a{lr}'].value = kq